.logo {
   height: min-content;
   width: 350px;
}

.memoGame {
   margin: 0 auto;
   color: black;
   font-weight: 700;
   background-color: #D8E054;
   padding: 2px 12px;
   width: max-content;
   border-radius: 25px;
}
